{{ define "main" }}
  <img src="/images/logo.webp" width="512" height="512" class="m-auto" alt="C4T BuT S4D logo" />
  <h1 class="text-center">
    Our projects<span class="hidden lg:inline">:</span>
    <a class="block text-border hover:underline lg:inline" href="https://github.com/C4T-BuT-S4D">
      https://github.com/C4T-BuT-S4D
    </a>
  </h1>
  <h1 class="mt-2 text-center">
    Contact us<span class="hidden lg:inline">:</span>
    <a class="block text-border hover:underline lg:inline" href="mailto:c4tbuts4d@gmail.com"> c4tbuts4d@gmail.com </a>
  </h1>
{{ end }}
