{{ define "main" }}
  <article class="post pl-4 pr-4 xl:pl-72 xl:pr-72">
    <h1>{{ .Title }}</h1>
    {{ if gt .Params.tags 0 }}
      <div class="tags mb-4">
        <ul class="flex flex-wrap">
          {{ range .Params.tags }}
            <li class="mr-2 before:text-tag before:content-['#']">{{ . }}</li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
    <span class="text-faded"
      >Posted on <time datetime="{{ .Date.Format "2006-01-02" }}">{{ dateFormat ":date_long" .Date }}</time> by
    </span>
    {{ range $authorIndex, $author := .Params.authors -}}
      {{ if ne $authorIndex 0 -}}
        ,
      {{ end -}}
      {{- if isset $author "social" -}}
        <a href="{{ $author.social }}">{{ $author.name }}</a>
      {{- else -}}
        <span>{{ $author.name }}</span>
      {{- end -}}
      {{- if and (.links) (gt (len .links) 0) }}
        (
        {{- range $index, $link := .links -}}
          {{ if ne $index 0 -}}
            ,
          {{ end -}}<a href="{{ $link.link }}">{{ $link.name }}</a>
        {{- end -}}
        )
      {{- end }}
    {{- end -}}

    {{- if .Draft -}}
      ,
      <span class="text-accent">DRAFT</span>
    {{- end -}}

    {{ if isset .Params "tldr" }}
      <div class="pt-4">
        <span class="text-border">tl;dr:</span>
        {{ .Params.tldr }}
      </div>
    {{ end }}


    <section>
      {{ .Content }}
    </section>
  </article>
{{ end }}
